html
{
    background-color: black;
}
.whitebox
{
    position: absolute;
    width: 5vw;
    aspect-ratio: 1/1;
    display: inline-block;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    
}