html
{
    background-color: black;
}
.whitebox
{
    position: absolute;
    width: 7vw;
    aspect-ratio: 1/1;
    display: inline-block;
    transform: translate(-50%, -50%);
    border-width: min(1vw, 1vh);
    border-color:white;
    border-style: solid;
    
}
.boximg
{
    width: 100%;
    height: 100%;
    font-size: 6vw;
    color: white;
    text-align: center;
    position: relative ;
}